<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}!", name: "a dummy Phoenix Identity Management Application" %></h2>
  <p class="lead">It demonstrates how to use circular references in Ecto.Changesets and preform all-or-nothing CRUD operations on the aggregate root and associations using Ecto.Multi.</p>
  <div>
    <%= link "Go to Individuals", to: individual_path(@conn, :index), class: "btn btn-primary" %>
  </div>
</div>
